{
    "singleQuote": false,
    "trailingComma": "all",
    "useTabs": true,
    "printWidth": 120,
    "overrides": [
        {
            "files": ["*.yml"],
            "options": {
                "tabWidth": 2,
                "useTabs": false
            }
        }
    ]
}
