language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '10'
  - '9'
  - '8'
script:
- npm test
- npm run lint
- npm run lint:commit
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  only:
  - master
  - /^greenkeeper/.*$/